language: rust
rust:
- stable
- beta
- nightly
sudo: false
install:
- wget https://github.com/jedisct1/libsodium/releases/download/1.0.15/libsodium-1.0.15.tar.gz
- tar xvfz libsodium-1.0.15.tar.gz
- cd libsodium-1.0.15 && ./configure --prefix=$HOME/installed_libsodium && make && make install &&
  cd ..
- export PKG_CONFIG_PATH=$HOME/installed_libsodium/lib/pkgconfig:$PKG_CONFIG_PATH
- export LD_LIBRARY_PATH=$HOME/installed_libsodium/lib:$LD_LIBRARY_PATH
script:
- cargo build --verbose
- cargo test --verbose
- if [ "$TRAVIS_RUST_VERSION" = "nightly" ]; then cargo test --verbose --no-default-features; fi
- cargo test --verbose --no-default-features --features std
- cargo doc

branches:
    except:
    - /.*(.tmp)$/
